@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
html {
  padding: 0px;
  margin: 0px;
}

body {
  margin-left: 0;
  margin-top: 0;
  padding: 0px;
  margin: 0px;
}

svg {
  fill: #E7F6F9;
}

body:hover {
  cursor: progress;
}

.main_cont {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 4px 8px 4px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
.header_div {
  background: #221F1F;
  width: 100vw;
  height: 45px;
}

.header {
  vertical-align: bottom;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header_logo {
  display: inline-block;
  font-family: Comfortaa;
  text-decoration: underline;
  font-size: 2.8047vmin;
  color: #E7F6F9;
  /*padding-left: 3.3929*2vmin;*/
  vertical-align: 15%;
  width: auto;
}

.button_left {
  width: 3.0796vmin;
  height: 3.0796vmin;
  display: inline-block;
  background-color: #C01F14;
  border-radius: 0.7vmin;
  cursor: pointer;
}

table {
  padding-top: 0.5vmin;
}

.button_left td {
  background-color: #E7F6F9;
  width: 1.3vmin;
  border-radius: 0.7vmin;
  height: 0.3vmin;
}

p {
  line-height: 24px;
}

h2 {
  font-family: Comfortaa;
}

h4 {
  font-family: Comfortaa;
  font-style: italic;
  text-decoration: underline;
  -webkit-text-decoration-color: #C01F14;
          text-decoration-color: #C01F14;
}

.column1 {
  float: left;
  width: 20%;
  padding: 10px;
}

.column2 {
  float: right;
  padding: 10px;
  font-family: Okta Neue;
  color: #E7F6F9;
}

.column3 {
  display: inline-block;
  justify-content: center;
  padding: 10px;
  font-family: Okta Neue;
  width: 23%;
  color: #E7F6F9;
}

.row2 {
  margin-right: 20px;
}

.column2 a {
  position: relative;
  vertical-align: middle;
  color: #E7F6F9;
  background-color: #C01F14;
  padding: 0px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.5s;
}

.column2 a:hover {
  background: linear-gradient(to top left, rgba(30, 87, 153, 0), rgba(30, 87, 153, 0.8), #1e5799, #1e5799, #2989d8, #1e5799, #1e5799, rgba(30, 87, 153, 0.8), rgba(30, 87, 153, 0));
  color: #221F1F;
}

.column3 a {
  color: #E7F6F9;
  background-color: #C01F14;
  padding: 0px 15px;
  border-radius: 5px;
  margin: 0 30%;
}

.row img {
  opacity: 0.8;
  cursor: pointer;
  margin: 0 auto;
  align-items: center;
}

.row img:hover {
  opacity: 1;
}

.row {
  margin: 1.3% auto;
  display: flex;
  justify-content: space-between;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img:not(only-child) {
  color: red;
}

.container {
  position: relative;
  display: block;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

#contant {
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

form {
  border: 4px solid #f1f1f1;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.container1 {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #C01F14;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.text_cont {
  max-width: 500px;
  max-height: 500px;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

footer {
  background: #221F1F;
  width: 100vw;
  height: 45px;
  margin-bottom: 0px;
}

ul:nth-child(3) {
  list-style: none;
}

ul:nth-child(3) li {
  list-style-image: url(../images/ul.png);
}

ul:first-child {
  text-indent: 15px;
}

a {
  -webkit-user-select: none;
          user-select: none;
  color: #E7F6F9;
  text-decoration: none;
}

a:active {
  color: #221F1F;
}

a:visited {
  text-decoration: underline;
  -webkit-text-decoration-color: #E7F6F9;
          text-decoration-color: #E7F6F9;
}

.footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.form_and_text {
  display: inline-flex;
  width: 100%;
  border-width: 2px;
}

.socials {
  margin: 0px;
  height: 26px;
}